span.inactive {
    background-color: red;
    color: red;
}

#change_menu {
    background-color: lightblue;
    padding: 25px;
    width: 500px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
}

ul {
    list-style: none;
}

span.space{
    color: white;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.container {
    margin-top: 14px;
}

a {
    text-decoration: underline;
}

a.category {
    color: blue
}

a.product {
    color: green;
}

* {
    font-family: Courier New;
}
